@import "variables"
@import "mixins"

.about-label
	text-align: center
	border-top: $border
	border-bottom: $border
	padding: 30px 0

.about-me
	font-size: 1rem
	width: 80%
	margin: 0 auto
	line-height: 3rem

.technologies
	display: flex
	flex-flow: row wrap
	justify-content: space-around

.tech-img
	width: 20%
	margin: 20px 40px
	img
		width: 100%
		border-radius: 25px

.interest-list
	list-style: none
	font-size: 1rem
	line-height: 3rem
	text-align: center
	margin-bottom: 250px
