@import "variables"
@import "mixins"

.contact
	@include centerer
	width: 100%
	transform: translate(-50%, 20%)

.contact-headline
	@include aboutLabel

.contact-link
		@include listButton
		text-align: center
