@import "variables"
@import "mixins"

.landing
	@include centerer
	width: 100%
	@media screen and (max-width: $breakBig)
		transform: translate(-50%, 50%)

.intro
	h1
		margin-bottom: 50px
		padding: 50px 0
		border-top: $border
		border-bottom: $border
		text-align: center

.name
	font-style: italic

.landing-nav
	text-align: center
	@media screen and (max-width: $breakBig)
		flex-direction: row
		width: 50%
		margin: 0 auto

.landing-nav-button
	@include listButton
	// @media screen and (max-width: $breakBig)


