@import "variables"
@import "mixins"

.landing
	@include centerer
	width: 100%

.intro
	h1
		margin-bottom: 50px
		padding: 50px 0
		border-top: $border
		border-bottom: $border
		text-align: center

.name
	font-style: italic

.landing-nav
	text-align: center

.landing-nav-button
	@include listButton

