.portfolio-wrapper
	display: flex
	flex-flow: row wrap
	width: 80%
	margin: 0 auto

.work-headline
	margin: 6rem auto

.project-headline
	font-weight: bold

.project-wrapper
	height: 20rem
	width: 50%
	background-repeat: no-repeat
	background-size: cover
	-webkit-filter: grayscale(100%) brightness(50%)
	filter: grayscale(100%) brightness(50%)
	&:hover
		-webkit-filter: grayscale(0%) brightness(100%)
		filter: grayscale(0%) brightness(100%)

.hbb-card
	background-image: url("portfolio/hbb.png")

.meow-card
	background-image: url("portfolio/a-meow-zon.png")

.gauntlet-card
	background-image: url("portfolio/gauntlet.png")

.lexicon-card
	background-image: url("portfolio/lexicon.png")


