*
	box-sizing: border-box
	font-family: "Raleway", "sans-serif"

.test
	border: 1px solid red

body
	margin: 0
	padding: 0
	font-size: 2rem
	background-color: #000
	color: $textColor

.flex
	display: flex
	flex-direction: column

.hide
	display: none

a
	&:visited
		color: $textColor

.wrapper
	position: relative
